wp-menu-item {
  display: block;
}

:host([horizontal]) {
  flex-direction: row;
  position: static;
}
:host([horizontal]) ::slotted(*) {
  position: relative;
  padding: 0.5em;
  margin: 0.5em !important;
  border: solid blue !important;
}

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1000;
  white-space: nowrap;
  left: 100%;
  top: 0;
}
:host > ::slotted(*) {
  position: relative;
  border: solid red;
}